body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    background-color: #FFFDD0;
}

nav {
    font-size: 2em;
    
}

a:hover {
    color: brown;
}

img {
    height: 15em;
}

